/*The scroll-behavior when scrolling triggered*/

html {
    scroll-behavior: smooth;
  }


/*Revisiting the body 
  using the root's declared variable*/
  
body {
    color: var(--text-color);
  }


/*Revisiting the anchor 
  using the root's declared variable*/
  
a {
    color: var(--text-color);
  }

 .visually-hidden {
    color: none;
 }


/*Revisiting the classe card-categoty 
  using the root's declared variable*/
  
 .card-category {
    color: var(--color-primary);
 }

/*Revisiting the classe Section-tagline 
  using the root's declared variable*/

 .section-tagline {
    color: var(--color-primary);
 }

/*Declaration of diffrent variables in the root*/

 :root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}
