/*All fonts in the html element should be at 62.5% 
   of their normal size*/
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

/* Body font-family receive its value 
   from the root's variable*/
body {
   color: (--text-color);
   font-family: var(--font-family-base);
   font-size: var(--font-size-medium);
  }

/*Revisiting the anchor 
  using the root's declared variable*/
a {
    color: var(--text-color);
  }


/*class visually-hidden color set to none*/
 .visually-hidden {
    color: none;
 }


/*Revisiting the classe card-categoty 
  using the root's declared variable*/
 .card-category {
    color: var(--color-primary);
 }


/*Revisiting the classe Section-tagline 
  using the root's declared variable*/
 .section-tagline {
    color: var(--color-primary);
 }


/* h1 to h6 font-family receive their values */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}


/*Declaration of diffrent variables in the root*/
 :root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    /*Variables for storing certain font types*/
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*Variables for the font size */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}
